body{
    background-color: black;
}
.no_1{
    padding: 0;
    margin: 0;
    background-color: red;
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
}
.P1{
    color: white;
    font-size: 2rem;
    text-align: center;
    
}
.no_2{
    padding: 0;
    margin: 0;
    background-color:#F18080;
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 10vh;
}